snippet t
	${1:/* condition */} ? ${2:a} : ${3:b}


snippet tas
	desc "${1:Task description\}"
	task :${2:task_name => [:dependent, :tasks]} do
		${3}
	end
snippet pt
	puts ${1}
snippet ps
	puts '${1}'${2}
snippet pd
	puts "${1}"${2}
snippet dputs
	puts "\n\n\n********************#{${1}}\n\n\n"
snippet should
	should '${1}' do
		${2}
	end
snippet context
	context '${1}' do
		setup do
			${2}
		end
	end
